// alignment elements
@mixin vertical-center($position: absolute) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin vertical-center-flex {
  display: flex;
  align-items: center;
}

@mixin horizontal-center($position: absolute) {
  position: $position;
  left: 50%;
  transform: translateX(-50%);
}

@mixin horizontal-center-flex {
  display: flex;
  justify-content: center;
}

@mixin center-all-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center-all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// ------------------------------------------------------------------

// Images
@mixin make-responsive {
  max-width: 100%;
  height: auto;
}
// ------------------------------------------------------------------

// Gradients
@mixin gradientOnAfter($gradient: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.56) 100%)) {
  &::after {
    content: '';
    background: $gradient;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
  }
}
// ------------------------------------------------------------------

// Transitions
@mixin with-transition {
  transition: map-get($transition-primary, target) map-get($transition-primary, time) map-get($transition-primary, easing);
  @if map-get($transition-primary, delay) > 0 {
    transition-delay: map-get($transition-primary, delay);
  }
}
// ------------------------------------------------------------------
