// Colors
$color-primary-light: #8187ff;
$color-primary: #3d5afe;//#c62828;
$color-primary-dark: #0031ca;

$color-primary-dark: #000;
$color-secondary-dark: #000a12;
$color-primary-white: #fff;

$transition-base: all .2s ease-in-out;
