.u-text-center {
  text-align: center !important;
}

.u-text-right {
  text-align: right !important;
}

.u-uppercase {
  text-transform: uppercase !important;
}

.u-section {
  padding: 5rem 0 !important;
}

.u-color-primary {
  color: $color-primary !important;
}

.u-color-secondary {
  color: $color-secondary !important;
}

.u-color-primary-dark {
  color: $color-primary-dark !important;
}

.u-color-primary-grey {
  color: $color-primary-grey !important;
}

.u-color-tertiary {
  color: $color-tertiary !important;
}

.u-bg-primary-grey {
  background-color: $color-primary-grey !important;
}

.u-bg-primary-light {
  background-color: $color-primary-light !important;
}

.u-bg-tertiary {
  background-color: $color-tertiary !important;
}

.u-bg-primary-white {
  background-color: $color-primary-white !important;
}

@for $i from 1 through 4 {
  .u-mr-#{$i} {
    margin-right: #{$i}rem !important;
  }
}

@for $i from 1 through 6 {
  .u-ml-#{$i} {
    margin-left: #{$i}rem !important;
  }
}

@for $i from 1 through 6 {
  .u-mt-#{$i} {
    margin-top: #{$i}rem !important;
  }
}

@for $i from 1 through 6 {
  .u-mb-#{$i} {
    margin-bottom: #{$i}rem !important;
  }
}

.u-shadow-2 {
  box-shadow: $shadow-2 !important;
}

.u-shadow-3 {
  box-shadow: $shadow-3 !important;
}

.u-shadow-4 {
  box-shadow: $shadow-4 !important;
}

.u-shadow-5 {
  box-shadow: $shadow-5 !important;
}

.-shadow-6 {
  box-shadow: $shadow-6 !important;
}

.u-shadow-7 {
  box-shadow: $shadow-7 !important;
}

.u-shadow-8 {
  box-shadow: $shadow-8 !important;
}

.u-lazy-image-transition {
  transition: $transition-base;
  transition-delay: 300ms;
}

.u-bg-position-x-center {
  background-position-x: center !important;
}

.u-text-inner {
  font-size: 1.5rem !important;
}

.u-width-100 {
  width: 100% !important;
}

.u-width-50 {
  width: 50% !important;
}

.u-overflow-hidden {
  overflow: hidden !important;
}
