{{#extend layout='master'}}

    {{> headerBig}}

    <!-- Blog section -->
    <section class="blog-section">
        <div class="container">
            <div class="u-text-center">
                <h2>Ostatnie Wpisy Na Blogu</h2>
            </div>
            <div class="blog-section__categories u-text-center">
                <a href="#" class="label label--outline label--primary">Angular</a>
                <a href="#" class="label label--outline label--primary">JavaScript</a>
                <a href="#" class="label label--outline label--primary">Laravel</a>
                <a href="#" class="label label--outline label--primary">Nodejs</a>
            </div>
            <!-- Blog post -->
            <div class="blog-post">
                <div class="row">
                    <div class="col-lg-4">
                        <a href="#">
                            <figure class="blog-post__thumbnail">
                                <img src="http://placehold.it/400x300" alt="Post title here">
                            </figure>
                        </a>
                    </div>
                    <div class="col-lg-8">
                        <div class="blog-post__info">
                            <a href="#" class="blog-post__title"><h3>Lorem ipsum dolor sit</h3></a>
                            <div class="blog-post__meta">
                                <div class="blog-post__meta-author">Autor: <a class="blog-post__link" href="blank.html">Przemysław Chudziński</a></div>
                                <div class="blog-post__meta-date">Opublikowano: 20-12-2018</div>
                            </div>
                            <p class="blog-post__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam hic, nam nemo possimus quidem soluta. Dolores doloribus eos labore maxime minima, quae quam quos. Laboriosam nesciunt perspiciatis quibusdam saepe sint?</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Blog post -->
            <!-- Blog post -->
            <div class="blog-post">
                <div class="row">
                    <div class="col-lg-4">
                        <a href="#">
                            <figure class="blog-post__thumbnail">
                                <img src="http://placehold.it/400x300" alt="Post title here">
                            </figure>
                        </a>
                    </div>
                    <div class="col-lg-8">
                        <div class="blog-post__info">
                            <a href="#" class="blog-post__title"><h3>Lorem ipsum dolor sit</h3></a>
                            <div class="blog-post__meta">
                                <div class="blog-post__meta-author">Autor: <a class="blog-post__link" href="blank.html">Przemysław Chudziński</a></div>
                                <div class="blog-post__meta-date">Opublikowano: 20-12-2018</div>
                            </div>
                            <p class="blog-post__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam hic, nam nemo possimus quidem soluta. Dolores doloribus eos labore maxime minima, quae quam quos. Laboriosam nesciunt perspiciatis quibusdam saepe sint?</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Blog post -->
            <!-- Blog post -->
            <div class="blog-post">
                <div class="row">
                    <div class="col-lg-4">
                        <a href="#">
                            <figure class="blog-post__thumbnail">
                                <img src="http://placehold.it/400x300" alt="Post title here">
                            </figure>
                        </a>
                    </div>
                    <div class="col-lg-8">
                        <div class="blog-post__info">
                            <a href="#" class="blog-post__title"><h3>Lorem ipsum dolor sit</h3></a>
                            <div class="blog-post__meta">
                                <div class="blog-post__meta-author">Autor: <a class="blog-post__link" href="blank.html">Przemysław Chudziński</a></div>
                                <div class="blog-post__meta-date">Opublikowano: 20-12-2018</div>
                            </div>
                            <p class="blog-post__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam hic, nam nemo possimus quidem soluta. Dolores doloribus eos labore maxime minima, quae quam quos. Laboriosam nesciunt perspiciatis quibusdam saepe sint?</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Blog post -->
        </div>
    </section>
    <!-- END: Blog section -->

{{/extend}}
