.contact-form-section {
  background-color: rgba($color-void, .9);
  background-image: url('../images/contact-form-bg.jpg');
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  position: relative;
  z-index: 100;
}
