.footer {
  padding: 3rem 0;
  background-color: $color-primary-dark;
  color: $color-primary-white;
  font-size: 1.3rem;
  position: relative;
  z-index: 100;

  &__menu {
    display: flex;
    justify-content: flex-end;
    a {
      display: inline-block;
      color: $color-primary-white;
      font-size: 1.3rem;
      @include with-transition;
      &:hover {
        color: $color-primary;
      }
    }

    .post-ratings {
      @include vertical-center-flex;
      justify-content: flex-end;
    }
  }
}
