.header {

  height: 40rem;
  position: relative;
  background-color: $color-secondary-dark;
  background-repeat: no-repeat;

  > * {
    position: relative;
    z-index: 200;
    height: 100%;
  }

  &__content {
    position: relative;
    height: 100%;
  }

  &__content-text {
   @include center-all;
    color: $color-primary-white;
    width: 80%;
  }

  &__content-image {
    border-radius: 50%;
    overflow: hidden;
    width: 10rem;
    height: 10rem;
    margin: 3rem auto;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__content-desc {
    text-align: center;
    span {
      margin-bottom: 1rem;
    }
  }

  &__content-heading {
    margin-bottom: 2rem;
    text-align: center;
  }

  &__content-subheading {
    text-align: center;
  }

  &__content-description {
    text-align: center;
    font-size: 1.3rem;
  }

  &--big {
    height: 80rem;
  }

  &--with-bg-cover {
    background-size: cover;
  }

  &--with-bg-contain {
    background-size: contain;
  }

  // Header overlay
  &--with-gradient {
    @include gradientOnAfter();
  }

  &--with-overlay {
    position: relative;
    &:after {
      content: '';
      background-color: $color-void;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 40;
      opacity: .3;
      @include with-transition;
    }
  }

  &--center-background {
    background-position: center;
  }

  &__footer {
    position: absolute;
    bottom: 3rem;
    height: auto;

    &--left {
      left: 3rem;
    }

    &--right {
      right: 3rem;
    }

  }

  &__footer-link {
    &,
    &:link,
    &:visited,
    &:active {
      display: inline-block;
      color: $color-primary-white;
      font-size: 1.7rem;
      @include with-transition;
    }
    &:hover {
      color: $color-primary-light;
    }

    &--outline {
      border: 1px solid $color-primary-white;
      padding: 1rem;
      &:hover {
        border-color: $color-primary-light;
      }
    }

  }

  &__footer-link.active {
    color: $color-primary;
  }

  &__arrow {
    &,
    &:link,
    &:active,
    &:visited {
      width: 6rem;
      height: 6rem;
      @include vertical-center;
      background-color: $color-primary-white;
      cursor: pointer;
      opacity: .4;
      @include center-all-flex;
      @include with-transition;
      overflow: hidden;
    }

    &:hover {
      opacity: 1;
      overflow: visible;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

  }

  &__arrow-icon {
    display: inline-block;
    font-size: 3rem;
  }

  &__arrow-tooltip {
    position: absolute;
    display: block;
    width: 40rem;
    background-color: $color-primary;
    color: $color-primary-white;
    padding: 2rem;
    top: -100%;
    text-align: center;
    font-size: 1.3rem;

    &--left {
      left: 0;
      transform: translateX(-100%);
      @include with-transition;
    }

    &--right {
      right: 0;
      transform: translateX(100%);
      @include with-transition;
    }
  }

  &__arrow:hover &__arrow-tooltip--left {
    transform: translateX(0);
  }

  &__arrow:hover &__arrow-tooltip--right {
    transform: translateX(0);
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    opacity: 1;
    background-color: $color-secondary-dark;
    transition: all .5s ease-in-out;

    &--primary {
      background-color: $color-primary;
    }

  }
  &__overlay.hidden {
    opacity: 0;
  }

}
