.contact-content {
  .tech-card {
    margin-bottom: 2rem;
    width: 36rem;
  }
}

.contact-info-way {
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
  @include media-breakpoint-up(lg) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
