.blog-section {
  padding: 5rem 0;
  &__categories {
    margin-bottom: 4rem;
    .label {
      color: $color-primary-white;
    }
  }
}

.projects-section {
  background-color: $color-primary-grey;
  padding: 5rem 0;
  .project {
    margin-bottom: 2rem;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }
}

.home-header {

  .header__content-text {
    text-align: center;
  }

  .header__content-heading {
    text-transform: uppercase;
    font-size: 6rem;
    margin-bottom: 4rem;
    &:after {
      content: '';
      display: block;
      width: 10%;
      height: 5px;
      background-color: $color-secondary;
      margin: 3rem auto auto auto;
    }
  }

  .header__content-desc {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__btn {
    margin-top: 3rem;
  }

}
