.blog-section {
  padding: 5rem 0;
  &__categories {
    margin-bottom: 4rem;
    .label {
      color: $color-primary-white;
    }
  }
}

.projects-section {
  padding: 5rem 0;
  .project {
    margin-bottom: 2rem;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }
}
