<!-- Header -->
<header class="header header--big">
    {{> navigation}}
    <div class="container">
        <div class="header__content">
            <div class="header__content-text">
                <h1 class="header__content-heading">Przemysław Chudziński</h1>
                <p class="header__content-desc">
                    <span class="label label--primary">Webdeveloper</span>
                    <span class="label label--primary">Pasjonat szybkiej nauki</span>
                    <span class="label label--primary">I jeszcze coś</span>
                </p>
            </div>
        </div>
    </div>
</header>
<!-- END: Header -->
