<!-- Navigation -->
<div class="navigation">
    <div class="container">
        <div class="row">
            <div class="col-8 col-lg-4">
                <!-- Brand -->
                <div class="navigation__brand">
                    <figure class="navigation__brand-avatar">
                        <img src="http://placehold.it/50x50" alt="Przemysław Chudziński">
                    </figure>
                    <div class="navigation__brand-meta">
                        <span class="navigation__brand-meta-heading">Przemysław Chudziński</span>
                        <span class="navigation__brand-meta-description">Webdeveloper</span>
                    </div>
                </div>
                <!-- END: Brand -->
            </div>
            <div class="col-4 col-lg-8">
                <nav class="navigation__nav">
                    <!-- Desktop nav -->
                    <ul class="navigation__list d-none d-lg-flex">
                        <li class="navigation__list-item"><a class="navigation__list-link" href="index.html">Strona główna</a></li>
                        <li class="navigation__list-item"><a class="navigation__list-link" href="blank.html">O mnie</a></li>
                        <li class="navigation__list-item"><a class="navigation__list-link" href="projects.html">Projekty</a></li>
                        <li class="navigation__list-item"><a class="navigation__list-link" href="blog.html">Blog</a></li>
                        <li class="navigation__list-item"><a class="navigation__list-link" href="contact.html">Kontakt</a></li>
                    </ul>
                    <!-- END: Desktop nav -->
                    <!-- Mobile -->
                    <div class="navigation__mobile-btn d-lg-none">
                        <div class="navigation__mobile-btn__wrapper">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <!-- END: Mobile -->
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- END: Navigation -->
