.blog-post {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__thumbnail {
    overflow: hidden;
    height: 18rem;
    background-color: $color-secondary;
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
    img {
      width: 100%;
      height: auto;
      transition: all .2s ease-in-out;
    }

    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }

  &__title {
    &:link,
    &:active,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: $color-primary;
      text-transform: uppercase;
      * {
        margin-bottom: 1rem;
      }
    }
    &:hover {
      color: darken($color-primary, 20%);
    }
  }

  &__meta {
    //display: flex;
    //margin-bottom: 1rem;
    font-size: 1.3rem;
    > div {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__meta-date {
    span {
      color: $color-secondary;
      font-weight: 700;
    }
  }

  &__link {
    &:link,
    &:visited,
    &:active {
      text-decoration: none;
      color: $color-secondary;
      display: inline-block;
    }
  }
}
