.button {
  &,
  &:link,
  &:visited {
    border: 1px solid transparent;
    box-shadow: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    display: inline-block;
    padding: 1rem 3rem;
    @include with-transition;
    span.fa {
      margin-right: 1rem;
    }
  }

  &--primary {
    border: 1px solid $color-primary;
    color: $color-primary;
    &:hover {
      color: $color-primary-light;
    }
  }

  &--white {
    border: 1px solid $color-primary-white;
    color: $color-primary-white;
    &:hover {
      color: $color-primary-light;
      border: 1px solid $color-primary-light;
    }
  }

  &__primary-light {
    border: 1px solid $color-primary-light;
    color: $color-primary-light;
    &:hover {
      color: $color-primary;
    }
  }
}

// New themes buttons
.theme-button {
  &,
  &:link,
  &:focus,
  &:visited {
    font-size: 1.2rem;
    padding: 2.3rem 3.5rem;
    color: $color-primary-white;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: inherit;
  }

  &--primary {
    background-color: $color-primary;
  }

  &--secondary {
    background-color: $color-secondary;
  }

  &--tertiary {
    background-color: $color-tertiary;
    color: $color-primary !important;
  }

  &--with-radius {
    border-radius: 3000px;
  }

  &--medium {
    padding: 1.5rem 2.7rem !important;
  }

  &--with-icon {
    &:after {
      content: '\f178';
      font-family: FontAwesome;
      margin-left: 2rem;
      @include with-transition;
    }
  }

  &:hover {
    &:after {
      margin-left: 4rem;
    }
  }

}
