.contact-form {
  padding: 5rem 0;
  background-color: $color-secondary-dark;
  color: $color-primary-white;
  position: relative;
  z-index: 100;

  div[data-form-message] > * {
    margin-bottom: 1rem;
  }
}
