.contact-form {
  padding: 5rem 0;
  color: $color-primary-white;
  position: relative;
  z-index: 100;

  div[data-form-message] > * {
    margin-bottom: 1rem;
  }

  .is-dirty:not(.has-error) {
    border-color: $color-success;
  }

}
