.cookies-info {
  position: fixed;
  left: 2.5rem;
  bottom: 2.5rem;
  z-index: 800;
  width: 30%;
  font-size: 1.3rem;

  &__link {
    &:link,
    &:visited,
    &:active {
      color: $color-secondary;
    }
    &:hover {
      color: darken($color-secondary, 20%);
    }
  }
}
