.cookies-info {
  position: fixed;
  left: 2.5rem;
  bottom: 2.5rem;
  right: 2.5rem;
  z-index: 800;
  font-size: 1.3rem;

  @include media-breakpoint-up(lg) {
    right: 70%;
  }

  &__link {
    &:link,
    &:visited,
    &:active {
      color: $color-secondary;
    }
    &:hover {
      color: darken($color-secondary, 20%);
    }
  }
}
