.form {

}

.form-group {

  margin-bottom: 1rem;

  &__input {
    &,
    &:active{
      display: block;
      width: 100%;
      padding: 1rem;
      background-color: transparent;
      border: 1px solid rgba($color-primary-white, .5);
      box-shadow: none;
      color: $color-primary-white;
      font-family: 'Open Sans', sans-serif;
      outline: none;
    }
    &:focus {
      border: 1px solid rgba($color-primary, .5);
    }
  }

  &__label {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    display: block;
  }

  // Form validation rules

  &__input.has-error {
    border-color: $color-danger;
  }

  &__input.has-error ~ span.error-message {
    color: $color-danger;
  }

}
