.form-group {
  margin-bottom: 1rem;

  &__input {
    &,
    &:active{
      display: block;
      width: 100%;
      padding: 1rem;
      background-color: transparent;
      border: 1px solid rgba($color-primary-white, .5);
      box-shadow: none;
      color: $color-primary-white;
      font-family: 'Open Sans', sans-serif;
      outline: none;
    }
    &:focus {
      border: 1px solid rgba($color-primary, .5);
    }
  }

  &__label {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    display: block;
  }

  // Form validation rules
  &__input.has-error {
    border-color: $color-danger;
  }

  &__input.has-error ~ span.error-message {
    color: $color-danger;
  }

  &__checkbox {
    cursor: pointer;
  }

  &__checkbox input[type=checkbox] {
    display: none;
  }

  &__checkbox-label {
    line-height: 2.2rem;
    font-size: 1.3rem;
    &:before {
      font-family: FontAwesome;
      content: '';
      border: 2px solid $color-primary-white;
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
      float: left;
      @include center-all-flex;
      @include with-transition;
    }
  }

  &__checkbox input[type=checkbox]:checked ~ &__checkbox-label::before {
    border-color: $color-primary;
    content: '\f00c';
    background-color: $color-primary;
  }

}
