.theme-heading {
  display: inline-flex;
  flex-flow: column;
  margin-bottom: 6rem;

  &--with-underline {}

  &--with-underline-centered {}

  &--with-underline-aligned-left {}

  &--with-underline &__text {

    position: relative;

    &:after {
      content: '';
      width: 5rem;
      height: 5px;
      background-color: $color-secondary;
      display: block;
      transition: $transition-base;
      position: absolute;
      top: 150%;
    }

  }

  &--with-underline-centered &__text {
    &:after {
      @include horizontal-center;
    }
  }

  &--with-underline-aligned-left &__text {
    &:after {
      left: 0;
    }
  }

  &__text {
    display: inline-block;
  }

  &__subtext {
    font-size: 1.5rem;
    margin: 3rem auto 0 auto;
    width: 70%;
  }

}
