.label {
  &,
  &:link,
  &:active,
  &:visited {
    display: inline-block;
    padding: .5rem 1rem;
    text-decoration: none;
    font-size: inherit;
    border-radius: .5rem;
    text-align: center;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-primary-white;
    border-color: $color-primary;
  }

  &--white {
    background-color: $color-primary-white;
    color: $color-primary-white !important;
    border-color: $color-primary-white;
  }

  &--outline {
    background-color: transparent !important;
    border: 1px solid;
    color: $color-primary !important;
  }

}

.theme-label {
  font-size: inherit;
  display: inline-block;
  padding: .5rem 1rem;
  border-radius: 3000px;

  &--primary {
    background-color: $color-primary;
  }

  &--secondary {
    background-color: $color-secondary;
  }

  &--tertiary {
    background-color: $color-tertiary;
  }
}
