.label {

  &,
  &:link,
  &:active,
  &:visited {
    display: inline-block;
    padding: .5rem 1rem;
    text-decoration: none;
    font-size: inherit;
    border-radius: .5rem;
    text-align: center;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-primary-white;
    border-color: $color-primary;
  }

  &--secondary {

  }

  &--white {
    background-color: $color-primary-white;
    color: $color-primary-white !important;
    border-color: $color-primary-white;
  }

  &--outline {
    background-color: transparent !important;
    border: 1px solid;
    color: $color-primary !important;
  }

}
