.special-list-1 {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    background: $color-primary-white;
    padding: 2rem 3rem;
    width: 100%;
    @include center-all-flex;
    text-align: center;
    @include with-transition;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    &:hover {
      background: $color-primary;
      color: $color-primary-white;
    }

    @include media-breakpoint-up(sm) {
      width: 49%;
    }

    @include media-breakpoint-up(xl) {
      width: 35rem;
    }

  }
}
