.technology-feature {
  padding: 1rem 0;
  flex-flow: column;
  @include center-all-flex;

  &__img {
    @include center-all-flex;
    width: 15rem;
    height: 20rem;
  }

  &__content {
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
  }

}
